@jkhy:registry=https://npm.pkg.github.com/jkhy
//npm.pkg.github.com/:_authToken=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

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=13C3BE9B-C9E4-48AA-AD0D-B62B62EDEAA2

registry=https://registry.npmjs.org/
