@jkhy:registry=https://npm.pkg.github.com/jkhy

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=13C3BE9B-C9E4-48AA-AD0D-B62B62EDEAA2

registry=https://registry.npmjs.org/
